.login-background{
   height: 100vh;
    background-color: rgba(34,193,195);
    background: linear-gradient(135deg, rgba(34,193,195,1) 0% , rgba(253,187,45,1) 100%);
    .login-container{
        width: 350px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin:  auto;
        height: 450px;
        background-color: white;
        border-radius: 10px;
        .login-content{
            padding: 10px;
            .text-login{
                text-align: center;
                font-weight: 600;
                font-size: 24px;
                padding-top: 10px;
            }
            .login-input{
                margin: 10px 0;
                position: relative;
                .dis-pasword,.hid-password{
                    position: absolute;
                    top: 36px;
                    right: 36px;
                    // font-size: 24px;
                    // padding: 2px;
                    cursor: pointer;
                }
            }
            .btn-login{
                width: 100%;
                margin: 10px 0;
                height: 35px;
                border-radius: 15px;
                outline: none;
                border: none;
                background: linear-gradient(135deg, rgba(34,193,195,1) 0% , rgba(253,187,45,1) 100%);
                color: white;
                font-size: 16px;
            }
            .forgot-password{
                font-size: 16px;
                // color: #000;
                text-decoration: none;
                cursor: pointer;
            }
            .cocial-login{
                display: flex;
                justify-content: center;
                margin-top: 15px;
                gap: 35px;
                .face-icon{
                    font-size: 40px;
                    color: rgb(65, 165, 231);
                    cursor: pointer;
                }
                .google-icon{
                    font-size: 40px;
                    cursor: pointer;
                }
            }
        }
    }
}