.home-header-container{
    height: 60px;
    width: 100%;

    .home-header-content{
        width: 100%;
        height: 100%;
        display: flex;
        padding: 0 30px;
        
        .left-content{
            width: 20%;
            border: 1px solid transparent;
            display: flex;
            align-items: center;
            cursor: pointer;
            padding-left: 20px;
            gap: 10px;

            .header-logo{
                background: url('../../../public/image/logo.png') center center no-repeat;
                background-size: contain;
                height: 100%;
                width: 80%;
            }
        }
        .center-content{
            width: 50% ;
            border: 1px solid transparent;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .child-content{
                font-size: 14px;
            }
        }
        .right-content{
            width: 30%;
            border: 1px solid transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 650;
            font-size: 16px;
            gap: 15px;

            .support svg{
                font-size: 20px;
                margin-right: 5px;
            }
            .user-login{
                background-color: #585353;
               a{
                text-decoration: none;
                color: #fff;
               }
            }
            .user-resgister{
                background-color: #c495b4;
                color: #fff;
            }
            
            .language{
                cursor: pointer;
                opacity:0.2;
            } .active{
                    opacity:1;
                    color: red;
                    font-weight: 650;
            }
            .user-name{
                cursor: pointer;
                padding: 12px;
                position: relative;

                &:hover .user-account{
                    display: block;
                }
            }
            
            .user-account{
                position: absolute;
                display: none;
                top: 45px;
                right: 5%;
                z-index: 999;
                background-color: #fff;
                box-shadow: 2px 2px 3px 3px #705F5F;
                border-radius: 5px;

                .user-logout{
                    padding: 10px 4px;
                    font-size: 14px;
                    font-weight: 500;

                    &:hover{
                        background-color: #b1abab;
                    }

                    svg{
                        font-size: 20px;
                        margin-right: 5px;
                    }
                }
                .manage-user{
                    padding: 10px 4px;
                    font-size: 14px;
                    font-weight: 500;
                    &:hover{
                        background-color: #b1abab;
                    }
                }
            }
           
            
        }
    }
}

